<!DOCTYPE html>
<html>
<body>
<h1>{{project.name}}</h1>
<p/>
<form action='/import/' method='post' enctype='multipart/form-data'>
	{% csrf_token %}
	<input type='hidden' name='project' value='{{project.name}}'>
	Revision: <input type='text' name='revision' value='unknown'><br/>
	Log file: <input type='file' name='log'><br/>
	<input type='submit' value='Upload'>
</form>
<p/>
Files:<br/>
{% for file in files %}
<a href='/ui/project/{{project.name}}/{{file.name}}'>{{file.name}}</a> with {{file.issue_count}} issues<br/>
{% endfor %}
</body>
</html>
